<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

<p>Hello, my name is <%= @stu.name %> and I am currently a Year <%= @stu.year_of_study %> student in <%= @school %>.</p>

<%= link_to 'Update', edit_student_path %>
<%= link_to 'Back', students_path %>
